<div hidden>@Model Template</div>

<div class="card m-2" style="width:300px; border:2px solid purple; vertical-align:top;">
    <div class="card-title">
        <h4 style="font-weight:bolder;" class="lead col d-flex justify-content-center pt-5">@Model.OCCASSION TEMPLATE</h4>
    </div>
    <div class="card-body">
        <img class="col d-flex justify-content-center" src="data:image/png;base64, @Model.IMAGE" alt="Red dot" />
        <a asp-page="./PreviewTemplate" asp-route-templateid="@Model.TEMPLATE_ID" class="btn btn-outline-primary btn-block col d-flex justify-content-center mt-2">Use</a>
    </div>

</div>