@page "{gname}"
@model GreetingCardGenerator.Pages.User.SelectGreetingsModel
@{

<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            @foreach (var item in Model.Greetings)
            {
                <div class="container">
                   <div class="row">
                       <div class="col-sm-10">
                           @item
                       </div>
                       <div class="col-sm-2">
                           <button class="btn btn-primary">Use</button>
                       </div>
                   </div>
                   
                </div>
            }

        </div>
        <div class="col-sm-1"></div>
</div>
   
}
