@page "{gname}"
@model GreetingCardGenerator.Pages.User.SelectGreetingsModel
@{
    Layout = "_LayoutUser";
}

<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="text-center font-weight-bolder text-center">SELECT ONE OF THE GREETING TO CREATE YOUR CARD</div>
            @foreach (var item in Model.Greetings)
            {
                <div class="container mt-4" style="border:1px solid black; border-radius:6px 6px;">
                   <div class="row">
                       <div class="col-sm-10">
                           @item
                       </div>
                       <div class="col-sm-2">
                           <button class="btn btn-primary m-2" asp-page="./ChooseTemplate" asp-route-greeting="@item">Use</button>
                       </div>
                   </div>
                   
                </div>
            }

        </div>
        <div class="col-sm-1"></div>
</div>
   
}
