@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container pt-5">
    <div class="row">
        <div class="col-sm-3 col-md-6 mt-3">
            <h1 class="font-weight-bolder text-center pt-5">Create Greetings For Your Loved Ones In Few Clicks</h1>
            <h1 class="text-center lead pt-2">Our application let you create Greeting Cards for anyone with their name initials and variety of Templates available for all occassions</h1>
            <button type="button" class="btn btn-primary btn-block">GET STARTED</button> 
        </div>
        <div class="col-sm-9 col-md-6">
            <img src=~/image/finalcover.png />
        </div>
    </div>
</div>
