@page "{adminId:int}"
@model GreetingCardGenerator.Pages.Manager.DashboardModel
@{
    Layout = "_LayoutAdmin";
}

<div class="row">

    <div class="col">
        <a asp-page="./UploadTemplate">
        <img src="~/image/finalcover.png" style="height:100px;  width:100px;" />
        </a>
    </div>

    <div class="col">
        <img src="~/image/finalcover.png" style="height:100px;  width:100px;" />
    </div>

    <div class="col">
        <img src="~/image/finalcover.png" style="height:100px;  width:100px;" />
    </div>

    <div class="col">
        <img src="~/image/finalcover.png" style="height:100px;  width:100px;" />
    </div>
</div>
