@page "{adminId:int}"
@model GreetingCardGenerator.Pages.Manager.DashboardModel
@{
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col">
        <a asp-page="./UploadTemplate">
            <img src="~/image/BtnNewCards.png" style="height:150px;  width:250px;" />
        </a>
    </div>

    <div class="col">
        <a asp-page="./UploadTemplate">
            <img src="~/image/BtnNewGreetings.png" style="height:150px;  width:250px;" />
        </a>
    </div>
    <div class="col">
        <a asp-page="./UploadTemplate">
            <img src="~/image/BtnPurchaseCards.png" style="height:150px;  width:250px;" />
        </a>
    </div>
    <div class="col">
        <a asp-page="./UploadTemplate">
            <img src="~/image/BtnDraft.png" style="height:150px;  width:250px;" />
        </a>
    </div>
